.learnMore {
  display: flex;
  min-height: 100vh;
}

.learnMore_content {
  padding-top: var(--m-top);
  flex: 3 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.learnMore_content-item:first-child {
  margin-left: calc(100vw / 6 + 15px);
}

.learnMore_content-item:first-child h2 {
  margin-top: 20px;
}

.learnMore_content-item:first-child > .small-text {
  width: calc(100vw / 6 * 2);
  margin: calc(var(--m-left) * 2) 0 calc(var(--m-left) * 3) 0;
}

.learnMore_content-item:nth-child(2) {
  background: var(--black-background);
  margin-left: ;
  padding: calc(var(--m-left) * 3) 0 calc(var(--m-left) * 3)
    calc(100vw / 6 + 15px);
  border-bottom: 1px solid var(--gray);
}

.learnMore_content-item:nth-child(2) h3 {
  width: calc(100vw / 6 * 2);
  color: var(--white-dimTwo);
}

.learnMore_content-item:nth-child(2) .side-wall {
  margin-right: 50px;
}

.learnMore_content-item:last-child {
  background: var(--black-background);
  padding: calc(var(--m-left) * 2) var(--m-left);
}

.learnMore_content-item:last-child .scrolling h3 {
  color: var(--light-gray);
}

.learnMore_content-picture,
.learnMore_content-picture img {
  width: 100%;
}

.learnMore_picture {
  flex: 2 0;
  overflow: hidden;
}

.learnMore_picture-background {
  width: 100%;
  height: 100%;
  background: url(../img/aboutUs/image4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

section.mission {
  padding: calc(var(--m-left) * 3) 0;
}

.mission h2 {
  text-align: center;
  color: var(--black-footer);
}

.mission_container-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mission_container-item:first-child {
  border-bottom: 1px solid var(--white-border);
}

.mission_container-item > div {
  margin: var(--m-left) var(--m-left) calc(var(--m-left) + 10px) var(--m-left);
  border-bottom: var(--m-left) solid var(--white);
}

.mission_container-item:last-child > div {
  margin-bottom: 0;
}

.mission_container-item > div h3 {
  margin: calc(var(--m-left) + 10px) 0 calc(var(--m-left) / 2) 0;
  color: var(--black-text);
}

section.founder {
  display: flex;
  justify-content: center;
  padding: calc(var(--m-left) * 3) 0;
  background: var(--black-background);
}

.founder_content-headline {
  display: flex;
  justify-content: flex-start;
}

.founder_picture {
  flex: 2;
  margin: 0 calc(var(--m-left) * 4);
}

.founder_picture-item {
  width: 100%;
  height: 100%;
  background: url(../img/aboutUs/image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.founder_content {
  flex: 3;
  padding-right: calc(100vw / 6);
}

.founder_content .vert-hr {
  width: 40%;
  margin-left: 0;
}

.founder_content-overhead {
  display: flex;
  align-items: center;
  margin: calc(var(--m-left) * 2) 0 var(--m-left) 0;
}

.founder_content-overhead .overhead {
  margin-left: 20px;
  color: var(--white-dimTwo);
}

.founder_content-image img {
  width: 100%;
}

.founder_content-text {
  padding: calc(var(--m-left) * 2) 0;
}

.founder_content-text .small-text {
  color: var(--white);
  opacity: 0.7;
}

.founder_content-text .small-text:first-child {
  margin-bottom: 30px;
}

.history_header,
.history_footer {
  width: 100%;
  padding: calc(var(--m-left) * 3) 0;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.history_calendar {
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
  padding: var(--m-left) 0;
}

.history_calendar h3.date_year {
  color: var(--black-background);
}

.history_calendar-dates {
  display: flex;
  justify-content: flex-end;
  padding-right: calc(var(--m-left) / 2);
}

.history_calendar-dates > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.history_calendar-dates .date {
  display: flex;
  align-items: center;
  position: relative;
}

.history_calendar-dates .date_strip {
  width: 70px;
  height: 1px;
  background: var(--black-background);
  margin-right: 5px;
}

.date-active .date_border {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: var(--white-background);
}

.date-active h3.date_year {
  color: var(--orange);
}

.history_calendar-navigation .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vw / 6 - 5vw);
  cursor: pointer;
}

.history_calendar-navigation .arrow:first-child {
  transform: rotate(180deg);
  border-top: 1px solid var(--white-border);
}

.history_calendar-events {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.history_calendar-events .event {
  display: none;
  flex-direction: column;
  justify-content: center;
  border-left: calc((var(--m-left) / 2) + 5px) solid var(--white);
  margin-left: calc(var(--m-left) / 2);
  padding: var(--m-left);
  padding-left: var(--m-left);
}

.history_calendar-events .event-active {
  display: flex;
}

.history_calendar-events h3 {
  margin-bottom: calc(var(--m-left));
  width: 60%;
  color: var(--black-background);
}

.history_calendar-events .small-text {
  width: 45%;
}

.date-active h3 {
  font-size: 150px;
  color: var(--orange);
  line-height: 165px;
}

.date-active .date_strip {
  display: none;
}

@media screen and (max-width: 1300px) {
  .date-active h3 {
    font-size: 130px;
    line-height: 130px;
  }

  .date-active .date_border {
    height: 40px;
  }

  .history_calendar-navigation .arrow {
    height: calc(100vw / 6 - 4vw);
  }

  .history_calendar-navigation .arrow img {
    width: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .history_calendar-events h3 {
    width: 70%;
  }

  .history_calendar-events .small-text {
    width: 60%;
  }
}

@media screen and (max-width: 1100px) {
  .date-active h3 {
    font-size: 120px;
    line-height: 120px;
  }

  .founder_picture {
    flex: 3;
  }

  .founder_content {
    padding-right: var(--m-left);
  }
}

@media screen and (max-width: 950px) {
  .date-active h3 {
    font-size: 110px;
    line-height: 110px;
  }

  .date-active .date_border {
    height: 35px;
  }

  .history_calendar-events h3 {
    width: 85%;
  }

  .history_calendar-events .small-text {
    width: 80%;
  }

  .history_calendar-dates {
    padding-right: var(--m-left);
  }

  .history_calendar-events .event {
    margin-left: var(--m-left);
  }
}

@media screen and (max-width: 768px) {
  .learnMore_content-item:first-child {
    margin-left: var(--m-left);
  }

  .learnMore_content-item:first-child > .small-text {
    width: auto;
    margin: calc(var(--m-left) * 2) calc(var(--m-left) * 2) var(--m-left) 0;
  }

  .learnMore_content-item:nth-child(2) {
    padding: calc(var(--m-left) * 1.7) var(--m-left) calc(var(--m-left) * 1.7)
      var(--m-left);
  }

  .learnMore_content-item:nth-child(2) h3 {
    width: calc(100vw / 2);
    font-size: calc(var(--small-text) + 2px);
    color: var(--white-dim);
  }

  .learnMore_content-item:nth-child(2) .side-wall-text {
    border-left: calc(var(--m-left) * 0.6) solid var(--orange);
    padding-left: var(--m-left);
    line-height: calc(var(--small-text) * 1.7);
    font-weight: 100;
  }

  .learnMore_content-item:last-child {
    padding: var(--m-left);
  }

  .learnMore_content-item .addInfo {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }

  section.mission {
    padding: var(--m-top) 0 calc(var(--m-left) * 2) 0;
    background: var(--white-background);
  }

  .mission h2 {
    margin-bottom: var(--m-left);
  }

  .mission_container-item {
    grid-template-columns: 1fr;
  }

  .mission_container-item > div {
    margin: var(--m-left) 0 calc(var(--m-left) + 5px) var(--m-left);
    border-bottom: calc(var(--m-left) * 2) solid var(--white);
  }

  .mission_container-item:last-child > div {
    margin-bottom: calc(var(--m-left) + 5px);
  }

  .mission_container-item:first-child {
    border-bottom: none;
  }

  .mission_container-item .overhead {
    font-size: calc(var(--small-text) + 4px);
  }

  .mission_container-item > div h3 {
    margin: calc(var(--m-left) * 2) 0 var(--m-left) 0;
    font-size: calc(var(--small-text) + 4px);
  }

  section.founder {
    padding: calc(var(--m-left) * 2) var(--m-left) var(--m-left) var(--m-left);
  }

  .founder_content {
    padding-right: 0;
  }

  .founder_content-overhead img {
    width: 150px;
  }

  .founder_content-overhead .overhead {
    font-size: calc(var(--small-text) + 2px);
  }

  section.history {
    background: var(--white-background);
  }

  .history_header,
  .history_footer {
    padding: calc(var(--m-left) * 2) 0;
  }

  .history_calendar {
    grid-template-columns: 1fr 1fr;
    padding: calc(var(--m-left) * 3) 0;
  }

  .history_calendar-dates {
    justify-content: flex-start;
    padding-left: calc(var(--m-left) * 2);
  }

  .history_calendar h3.date_year {
    font-size: calc(var(--small-text) + 4px);
  }

  .date-active h3.date_year {
    font-size: 120px;
  }

  .date-active .date_border {
    height: 29px;
    bottom: -5px;
  }

  .history_calendar-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .history_calendar-navigation .arrow {
    width: 120px;
    height: 50%;
  }

  .history_calendar-navigation .arrow img {
    width: 28px;
  }

  .history_calendar-events {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .history_calendar-events .event {
    margin: calc(var(--m-left) * 2);
    padding: 0 var(--m-left);
  }

  .history_calendar-events h3 {
    width: 100%;
    font-size: calc(var(--small-text) + 4px);
  }

  .history_calendar-events .small-text {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .founder_content-overhead img {
    width: 130px;
  }

  .history_calendar {
    padding: calc(var(--m-left) * 2) 0;
  }

  .history_calendar-dates {
    padding-left: var(--m-left);
  }

  .date-active h3.date_year {
    font-size: 90px;
  }
  .date-active .date_border {
    height: 36px;
    bottom: -5px;
  }

  .history_calendar-navigation .arrow {
    width: 100px;
    height: 50%;
  }

  .history_calendar-navigation .arrow img {
    width: 22px;
  }

  .history_calendar-events .event {
    margin: calc(var(--m-left) * 2) var(--m-left);
    padding: 0 var(--m-left);
  }

  .mission_container-item > div {
    border-bottom: calc(var(--m-left) * 1.5) solid var(--white);
  }
}

@media screen and (max-width: 550px) {
  .learnMore_content-item:first-child > .small-text {
    margin-top: calc(var(--m-left) * 1.5);
  }

  .learnMore_content-item:nth-child(2) .side-wall-text {
    line-height: calc(var(--small-text) * 1.8);
  }
}

@media screen and (max-width: 360px) {
  .mission_container-item > div {
    border-bottom: calc(var(--m-left) * 1.3) solid var(--white);
  }
}
