section.homeOne{
	display: flex;
	min-height: 100vh;
}

.homeOne > .fp-tableCell{
	display: flex;
}

.homeOne h1{
	margin-top: 20px;
	margin-right: calc(var(--m-left) / 2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    white-space: nowrap;

}



.homeOne_first{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	/*flex: 1;*/
	width: 50%;
}


.homeOne_first-header{
	margin-left: var(--m-left);

}

.homeOne_first-header h5{
	font-weight: 0;
}

.homeOne_first-header h2{
	margin-top: 15px;
}


.homeOne_first-footer{
	display: grid;
	grid-template-columns: auto 1fr;
	margin-top: calc(var(--m-left) + 10px);
	background: var(--black-background);
}

.homeOne_first-footer > div:first-child{
	display: flex;
	align-items: center;
	padding:var(--m-left);
	padding-right: 0;
}

.homeOne_first-footer  > div:nth-child(2){
	flex: 1;
	color: var(--white);
	opacity: .8;
	/*font-size: 13px;*/
	padding:var(--m-left) calc(var(--m-left) / 2)  var(--m-left) 20%;
}

.homeOne_first-footer > div:nth-child(3){
	display: none;
	grid-column-start: 1;
	grid-column-end: 3;
}

.homeOne_first-footer > div:nth-child(3) img{
	width: 100%;
}

.homeOne_first-footer > div:nth-child(4){
	display: flex;
	border-top: 1px solid var(--gray);
	/*border-right: 1px solid var(--gray);*/
	padding: calc((var(--m-left) / 3) * 5) var(--m-left);
}


.homeOne_first-footer  > div:last-child{
	border-top: 1px solid var(--gray);	
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: var(--m-left) var(--m-left) var(--m-left) calc(var(--m-left) + calc(var(--m-left) / 2));
	grid-column-start: 1;
    grid-column-end: 3;
}

.homeOne_first-footer  > div:last-child h3{
	margin-right:calc(var(--m-left) / 2) ;
}

.homeOne_last{
	flex: 1 4;
	width: 50%;
	background: url('../img/home/image1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


.homeOne_last_animation{
	position: absolute;
    height: 100%;
    right: 0;
}


/*-------------------------------------------*/
section.homeTwo{
	position: relative;
	min-height: 100vh;
	overflow-y: hidden;
	background-image: url('../img/home/image1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

/*.homeTwo_background{
	width: 100%;
}*/

.homeTwo_content{
	position: absolute;
	background: var(--white);
	left: var(--m-left);
	right: var(--m-right);
	bottom: calc((var(--m-left) / 3) * 4 );
}

.homeTwo_content-header{
	display: flex;
	border-bottom: 1px solid var(--light-gray);

}

.homeTwo_content-header > div{
	display: flex;
	align-items: center;
	padding: calc(var(--m-left) + 10px)	calc(var(--m-left) - 5px);
}

.homeTwo_content-header > div:last-child{
	flex: 1 4;
}

.homeTwo_content-footer{
	display: flex;
	justify-content: space-between;
}

.homeTwo_content-footer > div{
	padding: var(--m-left)	calc(var(--m-left) - 5px);
	display: flex;
	align-items: center;
}

.homeTwo_content-footer > div:first-child{
	border-right: 1px solid var(--light-gray);
}

.homeTwo_content-footer > div:last-child{
	display: flex;
	align-items: center;
	border-left: 1px solid var(--light-gray);
}

.homeTwo_content-footer > div:last-child h3{
	margin-right: calc(var(--m-left) / 2);
}


/*----------------------------------------------*/
.homeServices{
	/*min-height: 100vh;*/
	padding:var(--m-top) 0 ;
}
.homeServices_header{
	display: flex;
	justify-content: center;
	margin-bottom: calc(var(--m-left) / 2);
}

.homeServices_content{
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: relative;

}

.homeServices_content-carts{
	margin-left: var(--m-left);
	margin-right: 1px;
}

.homeServices_content-carts .cart{
	padding: calc(var(--m-left) / 2);
	margin-bottom: calc(var(--m-left) - 5px);
	background:var(--white);
	box-shadow: 4px 4px 15px 0px rgba(34, 60, 80, 0.2);
}

.homeServices_content-carts  img{
	width: calc(var(--m-left) * 2);
}

.homeServices_content-carts .cart:last-child{
	margin-bottom: 0;
}


.homeServices_content-carts .cart:hover .crat_normal{
	display: none;
}


.homeServices_content-carts .cart:hover .crat_hover{
	display: block;
}

.homeServices_content-carts .crat_hover{
	display: none;
}

.homeServices_content-carts p{
	margin: var(--m-left)  0;

}



.homeServices_mobile .owl-stage{
	display: flex;
}

.homeServices_mobile .cart {
    padding-right: calc(var(--m-left) + 10px);
    /* margin: var(--m-left); */
    margin-left: var(--m-left);
    margin-top: 0;
    margin-right: 0;
    height: 100%;
}

.homeServices_mobile .cart p{
	padding: calc(var(--m-left) / 2);
	background:var(--white);
	/*box-shadow: 4px 4px 15px 0px rgba(34, 60, 80, 0.2);*/
    height: 100%;
}

.homeServices_mobile .first_cart{
	/*margin-left:  var(--m-left);*/
}

.homeServices_content-photo{
	box-sizing: border-box;
	overflow: hidden;
	margin:0 var(--m-left);
}

.homeServices_content-photo div {
    width: 100%;
    height: 100%;
    background: url(../img/home/image2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

}



.homeServices_content-photo img{
    /*min-height: 100%;*/
    width: 100%;
}


/*------------------------------------------------*/
section.masterplanung{
	height: 100vh;
	background-image: url('../img/home/image3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
    box-sizing: border-box;

    display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;

}




.masterplanung  .fp-tableCell{
	/*padding: var(--m-top) var(--m-left);*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}



/*.masterplanung_background{
	position: absolute;
	z-index: -50;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
*/
.masterplanung_body{
	display: flex;
	justify-content: space-between;
	background: var(--white);
	z-index: 200;
	margin: var(--m-top) var(--m-left) 0 var(--m-left);
}

.masterplanung_body-item:first-child{
	flex: 2 3;
	display: flex;
	align-items: center;
	padding-left: var(--m-left);
}

.masterplanung_body-item:first-child h2{
	width: 80%;
}



.masterplanung_body-item:last-child{
	flex: 1;
    display: flex;
    flex-direction: column;
	border-left: 1px solid var(--light-gray);
   
}

.masterplanung_body-item .addInfo{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: calc(var(--m-left) + 10px) calc(var(--m-left) - 5px) ;
}


.masterplanung_body-item .addInfo h3{
	white-space: nowrap;
	margin-right: calc((var(--m-left) / 3) * 4);
}

.masterplanung_body-item .addInfo > h3:nth-child(2){
	display: none;
}



.masterplanung_body-item .addInfo:first-child{
	border-bottom: 1px solid var(--light-gray);
}
 
.masterplanung_footer{
	/*padding-left: var(--m-left);*/
	margin: 0 var(--m-left) var(--m-top) calc(var(--m-left) * 2);
	z-index: 200;
}




@media screen and (max-width: 1800px){
	.masterplanung_body-item:first-child h2 {
	    width: 75%;
	}
}

@media screen and (max-width: 1200px){
	section.masterplanung{
		height: 90vh;
	}
}

@media screen and (max-width: 1130px){
	.masterplanung_body-item:first-child h2 {
	    width: 80%;
	}
}


@media screen and (max-width: 1000px){
	.masterplanung_body{
		flex-direction: column;
	}

	.masterplanung_body-item:first-child{
		justify-content: center;
		padding-left: 0;
		padding-top:calc(var(--m-left) + 10px);
	}

	.masterplanung_body-item:first-child h2 {
	    width: 60%;
	}

	.masterplanung_body-item:last-child{
		flex-direction: row;
		justify-content: space-around;
	}

	section.masterplanung{
		height: 80vh;
	}
}

@media screen and (max-width: 850px){
	.masterplanung_body-item:first-child h2 {
	    width: 68%;
	}

}

@media screen and (max-width: 768px){
	section.homeOne{
		padding-top: calc(var(--m-top) * 2);
		min-height: auto;

	}	

/*	.homeOne > div {
	    display: block;
	}*/

	.homeOne_first{
		justify-content: flex-start;
		width: 100%;
	}
	
	.homeOne_last{
		display: none;
	}
/*
	.homeOne_first-header {
	    margin-top: var(--m-top);
	}*/

	.homeOne h1{
		white-space: normal;
	}

	.homeOne h1 p{
		display: inline-block;
	}

	.homeOne_first-footer {
	    display: grid;
	    grid-template-columns: 1fr 1fr;
	}

	.homeOne_first-footer > div:first-child {
	    padding: calc(var(--m-left) * 2) var(--m-left);
	    padding-right: 0;
	}

	.homeOne_first-footer > div:first-child h3{
		font-size:calc((var(--small-text) + 2px));
	}

	.homeOne_first-footer > div:nth-child(2){
		display: flex;
		align-items: center;
		padding: var(--small-text);
		padding-left: calc(var(--small-text) / 2);

	}


	.homeOne_first-footer > div:nth-child(3){
		display: block;
	}

	.homeOne_first-footer > div:nth-child(4){
		display: flex;
		justify-content: space-between;
	}

	.homeOne_first-footer > div:last-child {
	    padding:var(--m-left) calc(var(--m-left) * 2) ;
	    grid-column-start: 1;
	    grid-column-end: 3;
	}

	/*-----------------------------------------------------------*/
	section.homeTwo{
		background-position-x: -600px;
		min-height: auto;
		overflow: hidden;
		padding: calc(var(--m-top) * 2) var(--m-left) calc(var(--m-left) * 2) var(--m-left) ;
	}

	.homeTwo_content {
	    position: static;
	    width: 100%;
	   
	}

	.homeTwo_content-header{
		flex-direction: column;
	}

	.homeTwo_content-footer > div:first-child{
		display: none;
	}

	.homeTwo_content {
	    bottom: calc(var(--m-left) * 2);
	}

	.homeTwo_content-header > div:last-child{
		padding-top: 0;

	}

	.homeTwo_content-footer > div:nth-child(2){
		display: none;
	}

	.homeTwo_content-footer > div:last-child{
		justify-content: space-between;
		width: 100%;
		border-left: 2px solid var(--hard-gray);
	}

	/*-----------------------------------------------------------*/
	.homeServices{
		min-height: auto;
		padding-bottom: 0;
	}


	.homeServices_content{
		grid-template-columns: 1fr;
		display: flex;
		flex-direction: column;
	}

	.homeServices_content-photo{
		order: 1;
	}

	.homeServices_mobile{
		order: 2;
	}

	.homeServices_mobile .cart{
		padding-right: 0;
	}

	/*-----------------------------------------------------------*/
	.homeServices_header {
	    margin-bottom:var(--m-left);
	}
	/*-----------------------------------------------------------*/
	section.masterplanung {
	    background-position: -400px 0;
	}

	section.masterplanung{
	    height: auto;
	    min-height: auto;
	    justify-content: flex-end;
	    padding-top: calc(var(--m-top) * 2);
	    padding-bottom: calc(var(--m-left) * 2);
	}

	.masterplanung_body-item:first-child{
		padding-top: 0;
	}

	.masterplanung_body-item:first-child h2{
		width: 100%;
		padding: calc(var(--m-left) + 10px) calc(var(--m-left) - 5px);

	}

	.masterplanung_body-item:last-child {
	    flex-direction: column;
	}

	.masterplanung_body-item .addInfo:first-child {
	    border-top: 1px solid var(--hard-gray);
	    border-bottom: 1px solid var(--hard-gray);
	}



	.masterplanung_body-item .addInfo:first-child > h3:nth-child(1){
		display: none;
	}
	.masterplanung_body-item .addInfo:first-child > h3:nth-child(2){
		display: block;
	}


	.masterplanung .masterplanung_footer {
	    display: none;
	}
}

@media screen and (max-width: 600px){
	section.homeTwo{
		/*padding-top: calc(var(--m-left) * 10) */
	}
}



@media screen and (max-width: 600px){
	section.homeTwo {
	    background-position-x: -470px;
	}
}



@media screen and (max-width: 400px){
	section.homeTwo{
		/*padding-top: calc(var(--m-left) * 8);*/
	}
	.masterplanung_body-item .addInfo h3 {
	    white-space: normal;
	    margin-right: calc(var(--m-left) / 2);
	}


	/*section.masterplanung{
		padding-top: calc(var(--m-top) * 1.5);
	}*/

}