
#portfolio .jobs_header{
	border-bottom: none;
}

#portfolio .portfolio_content{
	position: relative;
	padding-right: 0;
}

.portfolio_content-number {
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

#portfolio .jobs_header p.small-text{
	margin-top: 20px;
	width: calc(100vw / 6 * 2 - 20px);
	line-height: 20px;
}

#portfolio .jobs_content{
	display: grid;
	grid-template-columns:1fr;
}

#portfolio  .jobs_content-item{
	display: grid;
	grid-template-columns: 2fr 3fr;
	background: var(--background-form-input);
    margin-bottom:var(--m-left);
    margin-right: var(--m-right);
    padding: 0;

}

.portfolio_content{
	padding-left: 20px;
}

#portfolio .jobs_content-item h3{
	color: var(--black-text);
}

#portfolio  .jobs_content-item .portfolio_content{
	display: flex;
	align-items: flex-end;
	 background: rgba(0,0,0,0);
	padding-right: calc((var(--m-left) / 3) * 2);

}

#portfolio  .jobs_content-item .portfolio_content  .jobs_cart{
	position: relative;
	flex: 1;
}


#portfolio .jobs_content-item > div{
	padding: 0;
}


#portfolio .jobs_cart-item p:first-child{
	 flex: 5 5;
}

#portfolio .jobs_cart-item p:last-child {
    flex: 6 5;
    line-height: 20px;
	color: var(--black-background);
}

#portfolio .jobs_content-item > div.portfolio_slider{
	overflow: hidden;
	display: flex;
	align-items: flex-end;
	background: rgba(0,0,0,0);
	padding-left: calc((var(--m-left) / 3) * 2);
}

.portfolio_slider .owl-carousel{
	display: flex;
	flex-wrap: wrap;
}

.portfolio_slider .owl-nav,  .portfolio_slider .owl-dots {
	display: inline-block;
	background: var(--white);
	border-top:  1px solid var(--white-border);
}

.portfolio_slider .owl-nav{
	flex: 1;
	margin-left: 1px;
	display: flex;
    flex-wrap: nowrap;
}


.portfolio_slider .owl-nav .owl-prev , .portfolio_slider .owl-nav .owl-next{
	outline: none;
	
}

.portfolio_slider .owl-nav .owl-prev {
	transform: rotate(90deg);
	border-top: 1px solid var(--white-border)!important;
}

.portfolio_slider .owl-nav .owl-next {
	transform: rotate(-90deg);
	border-bottom: 1px solid var(--white-border)!important;
}

.portfolio_slider .owl-nav button > div{
	margin: 10px;
	width: calc((var(--m-left) / 3) * 4);
	height: calc((var(--m-left) / 3) * 4);
	border-radius: 50%;
	background: var(--light-gray);
	display: flex;
	justify-content: center;
	align-items: center;
}

.portfolio_slider .owl-nav button > div .arrowBlack{
	background: url('../img/arrowBlack.svg');
	background-size: auto 100%;
	background-repeat: no-repeat;
	width: calc(var(--m-left) / 3) ;
	height: calc(var(--m-left) / 3) ;
}


.portfolio_slider .owl-dots{
	flex:2;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
	padding-right: 15px;
}

.portfolio_slider .owl-dots button{
	display: inline-block;
	width: var(--m-left);
	height: var(--m-left);
	margin-left: 15px;
	background: #f2f2f2;
	outline: none;
}

.portfolio_slider .owl-dots button.active{
	background: var(--orange);
}


@media screen and (max-width: 1100px){
	#portfolio .jobs_content-item {
	    grid-template-columns: 3fr 3fr;
	}
}


@media screen and (max-width: 768px){
/*	.jobs_header {
	    padding: var(--m-top) var(--m-left) 0 var(--m-left);
	    boEWrder-bottom: 1px solid var(--white-border);
	}*/

	#portfolio {
	    background: rgba(0,0,0,0);
	    overflow-x: hidden;
	    padding-top: var(--m-top);
	}


	#portfolio .jobs_header{
		width: 100%;
		padding-top: 0;
	}

	#portfolio .jobs_content{
		width: 100%;
	    box-sizing: border-box;
	}

	#portfolio .jobs_content-item {
	    grid-template-columns: 1fr;
	    margin-right: 0;
	}


	#portfolio .jobs_header p.small-text {
	    margin-top: calc(var(--m-left) * 2);
	    width: 100%;
	    line-height: 35px;
	}




		#portfolio .jobs_content-item h3 {
		    font-size: calc(var(--small-text) + 6px);
		}



	#portfolio .portfolio_content {
	     padding-left: 0; 
	     padding-right: 0; 
	}

	#portfolio  .jobs_cart-item {
	    padding: var(--m-left) 0;
	    margin-right: 0;
	    display: grid;
	    grid-template-columns: 1fr 1fr;
	}
	#portfolio .jobs_content-item .portfolio_content{
		padding-right: 0;
	}

	#portfolio .jobs_content-item > div.portfolio_slider{
		padding-left: 0;
	}

	.portfolio_content .jobs_cart-item:nth-child(2){
/*		display: flex;
		justify-content: space-between;*/
		align-items: center;
		padding: calc(var(--m-left) * 2)  0;
	    grid-template-columns: 1fr auto!important;
	}

	#portfolio .jobs_cart-item p:first-child{
		/*flex: 1 0;*/
		font-size: calc(var(--small-text) + 4px);
	}

	#portfolio .jobs_cart-item p:last-child{
		/*flex: 1 0;*/
		font-size: calc(var(--small-text));
		line-height: 40px;
		padding-left: var(--m-left);
	}

	#portfolio .portfolio_content-number .truncated_number  .truncated_number-number{
		font-size: 100px;
	}


	#portfolio .portfolio_content-number .truncated_number .truncated_number-clipping {
	    height: 30px;
	    bottom: -10px;
	}

	#portfolio .portfolio_slider{
		margin-left: 0;
		margin-top: calc(var(--m-left) * 1.3);
	}

	.portfolio_slider .owl-nav button > div{
		background: var(--white);

	}

	.portfolio_slider .owl-nav button > div .arrowBlack {
	    width: 15px;
	    height: 20px;
		background-size: 100%;

	}

	.portfolio_slider .owl-nav button div {
	    margin: 10px;
	    width: 60px;
	    height: 55px;
	}

	.portfolio_slider .owl-nav .owl-next {
	    border-bottom: none!important;
	}

	.portfolio_slider .owl-dots{
		padding:  var(--m-left);
		/*padding-right: var(--m-left);*/
		padding-top: calc(var(--m-left) / 2);
		padding-bottom: 0;
		flex-wrap: nowrap;
	}

	.portfolio_slider .owl-dots button{
		margin-left: calc(var(--m-left) / 2);
		margin-bottom: calc(var(--m-left) / 2);
	}
}


@media screen and (max-width: 550px){
	#portfolio .portfolio_content-number .truncated_number .truncated_number-number {
	    font-size: 85px;
	}

	#portfolio .portfolio_content-number .truncated_number .truncated_number-clipping {
	    height: 25px;
	    bottom: -4px;
	}

	#portfolio .jobs_cart-item p:last-child ,#portfolio .jobs_header p.small-text{
	    line-height: 30px;
	}

	.portfolio_slider .owl-nav{
		justify-content: flex-end;
	}
}


@media screen and (max-width: 500px){
	#portfolio .jobs_header p.small-text {
	    margin-top: calc(var(--m-left) * .7);
	}

	.jobs_content {
	    padding: calc(var(--m-left) * .5) var(--m-left) 0 var(--m-left);
	}

	.portfolio_slider .owl-nav button div .arrowBlack {
	    width: 15px;
	}

	#portfolio .portfolio_content-number .truncated_number .truncated_number-number {
	    font-size: 75px;
	}

	#portfolio .portfolio_content-number .truncated_number .truncated_number-clipping {
	    height: 25px;
	    bottom: -4px;
	}

	#portfolio .jobs_cart-item p:last-child,#portfolio .jobs_header p.small-text {
	    line-height: 23px;
	}


}


@media screen and (max-width: 400px){

	#portfolio .portfolio_content-number .truncated_number .truncated_number-number {
	    font-size: 65px;
	}

	#portfolio .portfolio_content-number .truncated_number .truncated_number-clipping {
	    height: 25px;
	    bottom: -4px;
	}

	#portfolio .jobs_cart-item p:last-child ,#portfolio .jobs_header p.small-text{
	    line-height: 20px;
	}
}

@media screen and (max-width: 350px){

	#portfolio .portfolio_content-number .truncated_number .truncated_number-number {
	    font-size: 55px;
	}
/*
	#portfolio .portfolio_content-number .truncated_number .truncated_number-clipping {
	    height: 25px;
	    bottom: -4px;
	}*/

	#portfolio .jobs_cart-item p:last-child ,#portfolio .jobs_header p.small-text{
	    line-height: 15px;
	}
}

