footer.footer{
	position: relative;
	background: var(--black-background);
	color: var(--white);
	padding-top:var(--m-top) ;
}

.footer_support , .footer_ma{
	padding: 0 var(--m-left);

}

.footer_support, .footer_map, .footer_navigation{
	position: relative;
	z-index: 200;
}


.footer_ovehead, footer .overhead{
	text-transform: uppercase;
	color: var(--light-gray);
}

.footer_ovehead{
	line-height: 25px;
	font-weight:500;
}

.footer_support {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 25px;
}

.footer_support-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer_support-info h2{
	color: var(--white);
}

.footer_support-info .footer_ovehead{
	margin-top: 40px;
}

.footer_support-info .footer_heading{
	margin-top: 15px;
	font-weight: 900;
	display: flex;
    justify-content: flex-start;
}

.footer_support-info .footer_heading p{
	color: var(--white);
}

.footer_additionaly{
	border: 1px solid var(--gray);
	color: var(--light-gray);
	padding: 15px 10px;
	margin-top: 60px;
	box-sizing: border-box;
	background: var(--black-background);

}

.footer_support-form{
	padding: 20px 3px 20px 15px;
	border: 1px solid var(--gray);
	background: var(--black-background);
	border-left: none;
}

 .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form_item {
	display: flex;
    flex-direction: column;
}

.form_item input {
	font-size: calc(var(--small-text) - 2px);
	outline: none;
    color: var(--light-gray);
    /*background: var(--background-form-input);*/
    background: var(--black-background-form);
   	border: none;
   	border-bottom: 1px solid var(--gray);
   	margin-top: 15px;
    padding: 10px 5px 10px 15px;
}

.form_item label{
	font-size: calc(var(--small-text) - 2px);
	padding-left: 15px;
    color: var(--light-gray);
}

.form_item input:first-child{
	margin-top: 0;
}

.form_item input::-webkit-input-placeholder {color: var(--light-gray);text-transform: uppercase; }
.form_item input:-ms-input-placeholder { color: var(--light-gray);text-transform: uppercase; }
.form_item input::-ms-input-placeholder { color: var(--light-gray);text-transform: uppercase; }
.form_item input::placeholder { color: var(--light-gray);text-transform: uppercase; } 


.form_item input[type="submit"]{
	text-transform: uppercase;
	text-align: left;
	cursor: pointer;
	margin-top: 8px;
	border-bottom: none;
    background: var(--background-form-input);
	
}

.form_item input[type="submit"]:nth-child(2){
	margin-top: 0;
}

.form_item input[type="submit"]:hover{
    color : var(--black-background-form);
    background: var(--orange);	

}

.form textarea{
	font-size: calc(var(--small-text) - 2px);
	height: 100%;
	color: var(--white);
    /*background: var(--background-form-input);*/
    background: var(--black-background-form);
	padding: 10px 15px;
	margin-left: 15px;
	outline: none;
	border: none;
   	border-bottom: 1px solid var(--gray);
   	resize: none;
}

.form_item textarea::-webkit-input-placeholder { color: var(--light-gray);text-transform: uppercase; }
.form_item textarea:-ms-input-placeholder { color: var(--light-gray);text-transform: uppercase; }
.form_item textarea::-ms-input-placeholder { color: var(--light-gray);text-transform: uppercase; }
.form_item textarea::placeholder { color: var(--light-gray);text-transform: uppercase; } 



.form_item:nth-child(3){
	margin-top: 30px;
}

.form_item:nth-child(3) p{
	color: var(--light-gray);
	margin-bottom: 5px;
}

.form_item:nth-child(4){
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.form_item:nth-child(4) .addInfo{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_item:nth-child(4) .addInfo-image{
	margin-bottom: 20px;
}

.form_item:nth-child(4) .addInfo h3{
	text-align: center;
}

.footer_map{
	padding:0 var(--m-left) 20px var(--m-left) ;
}

.footer_map iframe{
	height: 400px;
	width: 100%;	
}

.footer_navigation{
	display: grid;
	grid-template-columns: 2fr 2fr 1fr 2fr;
	background: var(--black-footer);
}

.footer_navigation > div{
	border-right: 1px solid var(--gray);
}

.footer_navigation-services , .footer_navigation-important{
	padding: var(--m-left);
}

.footer_navigation h3, .footer_navigation li, .footer_navigation p{
	color: var(--light-gray);
}

.footer_navigation h3 {
	margin-bottom: var(--m-left);
}

.footer_navigation li{
	font-size: var(--small-text);
	line-height: 20px;
}

.footer_navigation-first {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.footer_navigation-first > div:first-child{
	border-bottom: 1px solid var(--gray);
}

.footer_navigation-first > div:last-child{
	padding: 10px 0;
}


.footer_navigation-first .logo{
	justify-content: flex-start;
	margin-top: 0;
	padding: calc(var(--m-left) - 5px) 0 0 var(--m-left);
	text-transform: none;
}

.footer_navigation-first .logo p{
	border-bottom: 2px solid var(--gray);
}

.footer_navigation-first .logo_line{
	display: none;
}


.footer_navigation-first .logo p{
	color: var(--orange);
}

.footer_navigation-first .small-text{
	padding: calc(var(--m-left) / 2)  0 calc(var(--m-left) / 2) var(--m-left);
}

.footer_navigation-first > div:last-child{
	padding: calc(var(--m-left) / 2)  0 calc(var(--m-left) / 2) var(--m-left);
}


.footer_navigation-services{
	padding-right: 0;
}

.footer_navigation-services > div{
	display: flex;
}

.footer_navigation-services ul:first-child{
	margin-right: var(--m-left)
}

.footer_navigation-services ul:last-child{
	margin-right: var(--m-left)
}

.footer_navigation-contacts div:first-child{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: var(--m-left);
	border-bottom: 1px solid var(--gray);
}

.footer_navigation-contacts h3{
	text-transform: uppercase;
	margin-bottom: 0;
}

.footer_navigation-contacts h3:first-child{
	margin-bottom: calc(var(--m-left) - 10px);
}

.footer_navigation-contacts ul{
	display: flex;
	align-items: center;
}

.footer_navigation-contacts li{
	padding: var(--m-left);
}

.footer_navigation-contacts div:last-child{
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer_bottom{
	position: relative;
	z-index: 300;
	display: flex;
	justify-content: center;
	color: var(--light-gray);
	border-top: 1px solid var(--gray);
	background: var(--black-footer);
	padding: calc(var(--m-left) / 2) 0;
}


@media screen and (max-width: 1600px){
	.form_item:nth-child(4) .addInfo-image {
		width: calc(var(--m-left) * 2.5);
    	height: calc(var(--m-left) * 2.5);
	    margin-bottom: 15px;
	}
}

@media screen and (max-width: 1300px){
	.form_item:nth-child(4) .addInfo-image {
		width: calc(var(--m-left) * 3);
    	height: calc(var(--m-left) * 3);
	    margin-bottom: 15px;
	}
}



@media screen and (max-width: 970px){
	.form_item:nth-child(4) .addInfo-image {
		width: calc(var(--m-left) * 3.3);
    	height: calc(var(--m-left) * 3.3);
	    margin-bottom: 15px;
	}

	
	.form {
	    display: grid;
	    grid-template-columns: 2fr 3fr;
	}
}


@media screen and (max-width: 840px){
	.footer_navigation-contacts div:first-child{
		padding-left: 0;
	}
}



@media screen and (max-width: 768px){
	.footer_support {
	    grid-template-columns: 1fr;
	}

	footer .overhead {
	    width: 50%;
	}

	.footer_support-info h2{
		margin-top: calc(var(--m-left) / 2);
	}

	.footer_support-info .footer_ovehead {
	    margin-top: calc(var(--m-left) * 2);
	}

	.footer_support-info .footer_ovehead{
		font-weight: 100;
		font-size: calc(var(--small-text) + 4px);
		line-height: calc(var(--small-text) + 15px);
	}

	.footer_support-info .footer_heading p{
	    margin-top: calc(var(--m-left) * .7);
	    font-size: calc(var(--small-text) * 2);
	}

	.footer_additionaly{
		width: 100%!important;
	}

	.footer_additionaly {
	    padding: var(--small-text);
	    margin-top: var(--small-text);
	}

	.footer_additionaly p{
		font-size: calc(var(--small-text) + 4px);
		line-height: calc(var(--small-text) + 15px);
	}

	.form {
	    display: grid;
	    grid-template-columns: 1fr;
	}

	.footer_support-form{
	    padding: var(--m-left) calc(var(--m-left) / 2) ;
	    margin-top: var(--m-left);
	    border-left: 1px solid var(--gray);

	}

	.form textarea{
		margin-left: 0;
		margin-top: var(--m-left) ;
	}

	.form_item:nth-child(3) {
	    /*margin-top: 30px;*/
	    grid-area: 2;
	}

	.footer_navigation h3 {
	    margin-bottom: calc(var(--m-left) * .8);
	}

	.form_item input{
		margin-top: var(--m-left);
		padding:  calc(var(--m-left) / 2) var(--m-left);
	}

	.form_item label{
		padding-left: var(--m-left);
	}

	.form_item input[type="submit"]{
		margin-top: calc(var(--m-left) / 2);
		padding:  calc(var(--m-left) / 2.5) var(--m-left);

	}

	.form textarea{
		font-size: calc(var(--small-text) + 4px);
		height: calc(var(--m-left) * 6);
		padding:  calc(var(--m-left) / 2.5)  calc(var(--m-left) * 1.3 );
	}

	.form_item:nth-child(4) {
	    display: flex;
	    justify-content: flex-end;
	    align-items: center;
	    padding: calc(var(--m-left) * 1.5)  0;
	    padding-bottom:var(--m-left) ;
	}

	.form_item:nth-child(4) .addInfo-image {
	    margin-bottom: var(--m-left);
	}

	.form_item input , .form_item label{
	    font-size: calc(var(--small-text) + 4px);
	}



	.footer_map {
	    padding: var(--m-left) 0 0  0;
	}
	.footer_map iframe{
	    height: 350px;
	    width: 100%;
	}

	.footer_navigation {
	    grid-template-columns: 1fr 1fr;
	}

	.footer_navigation li {
	    font-size: var(--small-text);
	    line-height: calc(var(--m-left) * 1.2);
	}

	.footer_navigation-first {
	    grid-column-start: 1;
	    grid-column-end: 3;
	    flex-direction: row;
	    justify-content: space-between;
	}

	
	.footer_navigation > div {
	    border-bottom: none;
	    border-bottom: 1px solid var(--gray);
	}

	.footer_navigation h3{
		font-size: calc(var(--small-text) * 1.5);
	}

	.footer_navigation-first > div:first-child {
	    border-bottom: none;
	    padding-bottom: var(--m-left);
	}

	.footer_navigation-first > div:last-child {
	    padding: var(--m-left);
	    padding-bottom: 0;
	}

	.footer_navigation-first .small-text {
	    padding: calc(var(--m-left) / 2) 0 0 var(--m-left);
	    font-size: calc(var(--small-text) + 4px);
	}

	.footer_navigation-first > div:last-child ul{
	    display: flex;
	    flex-direction: column;
	    align-items: flex-end;
	}


	/*.footer_navigation-first .logo > div{
	    display: flex;
	    flex-direction: column;
	    align-items: flex-start;
	}

	.footer_navigation-first .logo .loga_name{
		font-size: 75px;
		line-height: 80px;
	}

	.footer_navigation-first .logo p{
		font-size: var(--small-text);
	}*/

	.footer_navigation-first .logo img{
		width: 250px;
	}

	.footer_navigation-services > div {
	    display: flex;
	    flex-direction: column;
	}

	.footer_navigation-services ul:last-child{
		margin-right: 0;
	}

	.footer_navigation-important, .footer_navigation-important ul {
	    padding-left:0;
	    display: flex;
	    flex-direction: column;
	    align-items: flex-end;
	}

	.footer_navigation-contacts{
		grid-column-start: 1;
		grid-column-end: 3;
		display: flex;
	}

	.footer_navigation-contacts div:first-child{
		order:2;
		width: 100%;
	}

	.footer_navigation-contacts div:last-child{
		border-right: 1px solid var(--gray);
		padding: 0 calc(var(--m-left) * 2) 0 var(--m-left);
	}

	.footer_navigation-contacts ul {
	    flex-direction: column;
	    /*justify-content: flex-start;*/
	    align-items: flex-start;
	}

	.footer_navigation-contacts li {
	     padding:0; 
	     padding-bottom: calc(var(--m-left) / 2);
	}

	.footer_navigation-contacts li:last-child{
		padding-bottom: 0;
	}

	.footer_bottom {
	    padding: var(--m-left);
	    text-align: center;
	}

}


@media screen and (max-width: 700px){
	.footer_navigation-first .logo img{
		width: 230px;
	}

	.footer_map iframe{
	    height: 300px;
	    width: 100%;
	}
}


@media screen and (max-width: 600px){
	.footer_navigation-first .logo img{
		width: 180px;
	}

	.footer_navigation li {
	    line-height: calc(var(--m-left) * 1);
	}

	.footer_map iframe{
	    height: 250px;
	    width: 100%;
	}
}


@media screen and (max-width: 500px){
	.footer_navigation-first .logo img{
		width: 150px;
	}

	.footer_navigation li {
	    line-height: calc(var(--m-left) * 0.8);
	}

	.footer_map iframe{
	    height: 200px;
	    width: 100%;
	}
}


@media screen and (max-width: 470px){
	.form_item:nth-child(4) .addInfo-image img{
		width: calc(var(--m-left) * 1);
	}
}


@media screen and (max-width: 400px){
	.footer_navigation-first .logo img{
		width: 130px;
	}
}


@media screen and (max-width: 350px){
	.footer_navigation li {
	    line-height: calc(var(--m-left) * 0.7);
	}

	.form_item:nth-child(4) .addInfo-image img{
		width: calc(var(--m-left) * 0.9);
	}


}