section.ourTeam{
	padding: calc(var(--m-left) * 2) var(--m-left) 0 var(--m-left) ;

}


section.ourTeam h2 .up-string-mob{
  float: none;
}

.ourTeam_slider{
	position: relative;
	overflow: hidden;
	padding-top: 50px;
}

.cart_container{
	display: flex;
	justify-content: flex-start;
}

.ourTeam_slider-cart{
	margin-right: calc(var(--m-left) / 2);
  margin-bottom: var(--m-left);
	background: var(--white);
	box-shadow: 4px 4px 18px 0px rgba(34, 60, 80, 0.2);
	flex: 0 0 22vw;

}


.ourTeam_slider-cart .picture{
  padding: 3px;
  padding-bottom: 0;
}

.ourTeam_slider-cart .picture img{
  width: 100%;

}

.ourTeam_slider-cart .text{
	padding: calc(var(--m-left) / 2) calc(var(--m-left) / 2 + 5px) 0  calc(var(--m-left) / 2 + 5px);

}

.ourTeam_slider-cart .text p{
	margin: calc(var(--m-left) / 2) 0;
}



.ourTeam_controller{
	display: flex;
  padding-bottom: var(--m-left);
}

.ourTeam_controller-text{
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-weight: 900;
	width: 170px;
}

.ourTeam_controller-text img {
    transform: rotate(-90deg);
    margin: 0 40px 0 10px;
    width: 13px;
}

.ourTeam_controller-range{
	flex: 1;

}


input[type=range]  {
      width: calc(100% - 30px);

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
      width: 100%; 
      height: calc(var(--m-left) / 2 + 5px);
      border-radius: 10px;
	    box-shadow: 1px 3px 8px 7px rgba(34, 60, 80, 0.2);
      background-color: white ;
      border: 0px solid white;
      padding: 5px 5px 0 4px; 
    }
   
    input[type=range]::-webkit-slider-thumb {
      width: 130px;
      height: calc(var(--m-left) / 2 - 5px);
      border-radius: 10px;
      background: var(--orange);
      outline: none;
      cursor: pointer;
      -webkit-appearance: none;
    }
   

    input[type=range]::-moz-range-track {
      height: 20px;
      border-radius: 10px;
	    box-shadow: 1px 3px 8px 7px rgba(34, 60, 80, 0.2);
      background-color: white ;
      border: 0px solid white;
      padding: 4px 4px 0 4px; 
    }
   input[type=range]::-moz-range-thumb {
      height: 12px;
      border-radius: 10px;
      background: var(--orange);
      outline: none;
      cursor: pointer;
      -moz-appearance: none;
    }


@media screen and (max-width: 1300px){
  .ourTeam_slider-cart{
    flex: 0 0 30vw;
  }

   input[type=range]::-webkit-slider-runnable-track {
      height: calc(var(--m-left) );
      padding: 5px 5px 0 4px; 
    }

    input[type=range]::-webkit-slider-thumb {
      width: 130px;
      height: calc(var(--m-left) - 10px);
    }
   

   input[type=range]::-moz-range-track {
      height: 70px;
      padding: 10px 4px 0 4px; 
    }
   input[type=range]::-moz-range-thumb {
      height: 20px;
    }


}

@media screen and (max-width: 950px){
   input[type=range]::-webkit-slider-runnable-track {
      height: calc(var(--m-left) + 3px );
      padding: 4px 5px 0 4px; 
    }

    input[type=range]::-webkit-slider-thumb {
      /*width: 130px;*/
      height: calc(var(--m-left) - 5px);
    }
}


@media screen and (max-width: 768px){
  .section.ourTeam{
    padding: var(--m-top)  var(--m-left);
  }

  .ourTeam_slider-cart {
      flex: 0 0 55vw;
  }

  input[type=range]::-webkit-slider-runnable-track {
      height: 25px;
      padding: 5px 5px 0 4px; 
    }

    input[type=range]::-webkit-slider-thumb {
      height: 15px;
    }

    .ourTeam_controller-text {
      width: 150px;
    }


    .ourTeam_controller-text p{
      font-size: calc(var(--small-text) + 4px);
    }

    .ourTeam_controller-text img {
      margin: 0 40px 0 15px;
      width: 17px;
  }

  .ourTeam_slider-cart {
    box-shadow: 19px 20px 18px 0px rgb(34 60 80 / 20%);
  }

  .ourTeam_controller {
    display: flex;
    padding: calc(var(--m-left) * 2) 0 0 0;
  }
}


@media screen and (max-width: 600px){
    input[type=range]::-webkit-slider-thumb {
      width: 80px;
    }
}


@media screen and (max-width: 500px){
  .ourTeam_controller-text {
    width: 120px;
  }

}


@media screen and (max-width: 400px){
    input[type=range]::-webkit-slider-thumb {
      width: 50px;
    }
}
